<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249423594691-4v66129r79tbmdmesplbo0hnjandi4p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249423594691-4v66129r79tbmdmesplbo0hnjandi4p7</string>
	<key>API_KEY</key>
	<string>AIzaSyBIxn8ymG3UCmhThSBqYhHI54Us2DAag74</string>
	<key>GCM_SENDER_ID</key>
	<string>249423594691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pravalappdev.loginpage</string>
	<key>PROJECT_ID</key>
	<string>login-pa-793d7</string>
	<key>STORAGE_BUCKET</key>
	<string>login-pa-793d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249423594691:ios:8983bb27ba8dd31e0d0e76</string>
</dict>
</plist>